@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* centraliza verticalmente */
}

section {
    width: 600px;
    height: 400px;
    background-color: #cde;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10;
    grid-template-rows: 10;
    gap: 0px;
}
.voltar{
    grid-column: 1;
    grid-row: 1;
    height: 50px;
    width: 50px;
}
span:hover{
    scale: 1.1;
}
.form{
    padding: 0px;
    grid-row: 2;
}
