@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}
.menu{
    display: grid;
    grid-template-columns: 20;
    grid-template-rows: 1;
    align-items: center;
    padding: 10px;
    background-color: #F5E1C5;
    height: 90px;
}
.item1{
    grid-column: 1 / 2;
}
.item2{
    grid-column: 2 / 3;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Merriweather";
    font-size: 1.2em;
}
.item3{
    grid-column: 3 / 5;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Merriweather";
    font-size: 1.2em;
}
.item4{
    grid-column: 17 / 18;
}

.item2:hover{
    text-decoration: underline;
}
.item3:hover{
    text-decoration: underline;
}

header{
    width: 100%;
    height: 400px;
    background-image: url(../imagens/pudim.png);
    background-position: center;
    background-size: cover;
}
main{
    background-color: rgb(245, 245, 245);
    height: 950px;
}

section{
    display: grid;
    grid-template-columns: 20;
    grid-template-rows: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 3px solid black;
    padding: 10px;
    gap: 30px;
}
.texto{
    margin-top: 40px;
    width: 500px;
    align-self: stretch;
    grid-column: 3 / 5;
    grid-row: 1;
}
.img{
    grid-column: 15 / 20;
    grid-row: 1;
}
.img > img{
    border-radius: 10px;
    width: 500px;
}
.titulo{
    font-family: "Merriweather";
    text-align: center;
    color: orange;
}
.texto > p{
    text-align: center;
}
article{
    display: grid;
    grid-template-columns: 20;
    grid-template-rows: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    gap: 30px;
}
.text{
    grid-column: 15 / 20;
    width: 500px;
}
.imagem{
    grid-column: 3 / 5;
}
.imagem > img{
    border-radius: 10px;
    width: 500px;
}
.text > p{
    text-align: center;
}
footer{
    height: 100px;
}
.container{
    display: grid;
    grid-template-columns: 20;
    grid-template-rows: 1;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.item5{
    grid-column: 1 / 7;
}
.item6{
    grid-column: 18 / 20;
}
.item6 > .link2{
    text-decoration: none;
    padding-left: 30px;
    color: black;
    font-family: "Merriweather";
    font-weight: normal;
    transition: .5s;
}
.link2:hover{
    font-size: 1.05em;
    text-decoration: underline;
}