@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.menu{
    display: grid;
    grid-template-columns: 20;
    grid-template-rows: 1;
    align-items: center;
    padding: 10px;
    background-color: #F5E1C5;
    height: 110px;
}
.item1{
    grid-column: 1 / 2;
}
/* From Uiverse.io by gharsh11032000 */ 
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #efb667;
  box-shadow: 0 0 0 2px #efb667;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #efb667;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #efb667;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.item2{
    grid-column: 2 / 3;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Merriweather";
    font-size: 1.2em;
}
.item3{
    grid-column: 3 / 4;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Merriweather";
    font-size: 1.2em;
}
.item5{
    grid-column: 10 / 12;
    grid-row: 1;
    border: 1px solid black;
    background-color: #efb667;
}
.item4{
    grid-column: 17 / 18;
    text-decoration: none;
}

.item2:hover{
    text-decoration: underline;
}
.item3:hover{
    text-decoration: underline;
}
main{
    padding: 110px;
}
main > .titulo{
    padding: 40px;
    text-align: center;
    font-family: "Merriweather";
    color: rgb(226, 149, 7); /* Cor perfeita */
    font-weight: bold;
}
.container{
    display: grid;
    grid-template-columns: 20;
    grid-template-rows: 1;
}
.card1{
    grid-column: 7 / 10;
}
.card2{
    grid-column: 10 / 13;
}
.card3{
    grid-column: 13 / 16;
}
.container2{
    display: grid;
    grid-template-columns: 20;
    grid-template-rows: 1;
}
.ent1{
    grid-column: 7 / 10;
}
.ent2{
    grid-column: 10 / 13;
}
.ent3{
    grid-column: 13 / 16;
}

.container3{
    display: grid;
    grid-template-columns: 20;
    grid-template-rows: 1;
}
.sbr1{
    grid-column: 7 / 10;
}
.sbr2{
    grid-column: 10 / 13;
}
.sbr3{
    grid-column: 13 / 16;
}